@import "nest1.css";

@import "socialbuttons.css";

.container{
  display: grid;
  grid-template-rows: 100px 20px 700px 100px;
  grid-template-columns: repeat(5, 1fr);  
  grid-gap: 20px;
  grid-template-areas:
  "hd hd hd hd hd"
  "sd sd sd sd sd"
  "main main main main main"
  "ft ft ft ft ft";
}

.sidebar{
  grid-area: sd;
}

body{
  background-image: url('../Images/joanna-kosinska-mjC9apK53a8-unsplash.jpg');
  background-size: cover;
}

#nest2{
  display: grid;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: 20px;
  grid-gap: 10px;
  padding-top: 20px;
  grid-template-areas: 
  "re we fi res tr";
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-size: 14px;
  font-weight: 550;
  font-stretch: ultra-expanded;
  color: black;
  text-align: justify;
}

img{
  display: block;
  width: 130px;
  height: auto;
  border-radius: 10px 100px / 120px;
}

#A5, #A7 {
  padding-top: 15px;
}

@media (min-width: 600px) and (max-width: 1100px){
  .container{
    display: grid;
    grid-template-rows: 100px 700px 100px;
    grid-template-columns: 200px 200px 200px 200px 100px;  
    grid-gap: 20px;
    grid-template-areas:
    "hd hd hd hd hd"
    "main main main main sd"
    "ft ft ft ft ft";
  }
  .sidebar{
    grid-area: sd;
  }
  #nest2{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
    "re"
    "we"
    "fi"
    "res"
    "tr";
  }
  img{
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  #A5, #A7 {
    padding-top: 15px;
  }
}

@media (min-width: 1101px){
  .container{
    display: grid;
    grid-template-rows: 100px 700px 100px;
    grid-template-columns: 200px 200px 200px 200px 200px 100px;  
    grid-gap: 20px;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "main main main main main sd"
    "ft ft ft ft ft ft";
  }
  .sidebar{
    grid-area: sd;
  }
  #nest2{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 100px;
    grid-gap: 20px;
    grid-template-areas: 
    "re"
    "we"
    "fi"
    "res"
    "tr";
  }
  img{
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  #A5, #A7 {
     padding-top: 0px;
  }
}

.header{
  grid-area: hd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-style: italic;
  color: #3d4349;    
}

.sidebar{
  grid-area: sd;
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 20px;
  grid-gap: 10px;
}

#receipes{
  grid-area: re;
}

#wellness{
  grid-area: we;
}

#fitness{
  grid-area: fi;
}

#restaurants{
  grid-area: res;
}

#travel{
  grid-area: tr;
}

.content{
  grid-area: main;
}

#nest1{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 165px);
  grid-gap: 10px;
}

#A1{
  grid-area: A1;
  padding-top: 15px;
}

#A2{
  grid-area: A2;
  margin: 20px;
  font-family: Optima, sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
}

#A3{
  grid-area: A3;
  padding-top: 15px;
}

#A4{
  grid-area: A4;
  margin: 20px;
  font-family: Optima, sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
}

#A5{
  grid-area: A5;
}

#A6{
  grid-area: A6;
  margin: 20px;
  font-family: Optima, sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
}

#A7{
  grid-area: A7;
}

#A8{
  grid-area: A8;
  margin: 20px;
  font-family: Optima, sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
}

.footer{
  grid-area: ft;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 25%;
  padding-right: 25%;
}

h3{
  font-family: Optima, sans-serif;
  font-size: 14px;
  font-stretch: semi-expanded;
  font-weight: 600;
}

a {
  color: #808080;
}