@import "socialsharing.css";

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 100px;
  grid-gap: 20px;
  grid-template-areas: 
  "hd"
  "main"
  "footer"; 
}

body{
  background-image: url('/WORKSPACE/Images/steve-johnson-b5HMwgoU2h4-unsplash.jpg'); 
  background-size: cover;
}

@media (min-width: 600px) and (max-width: 1100px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
  }
}

@media (min-width: 1101px){
  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
  }
}

.header{
  grid-area: hd;
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  justify-content: center;
  padding: 30px;
}

h1{  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-style: italic;
  color: #3d4349;
}

h3{
  font-family: Optima, sans-serif;
  font-size: 14px;
  font-stretch: semi-expanded;
  font-weight: 600;
}

a {
  color: #808080;
}

.content{
  grid-area: main;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Optima, sans-serif;
  font-size: 12px;
  color: black;
  text-align: justify;
  padding: 30px;
}

.nobull {
  list-style-type: none;
 }

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px;
}

.footer{
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
}